<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moloom.img.api.dao.MetadataDao">

    <!-- 插入数据 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="metadataId"
            parameterType="com.moloom.img.api.entity.MetadataEntity">
        insert into metadata (description_id,
                                     make,
                                     model,
                                     software,
                                     documentary_software,
                                     artist,
                                     title,
                                     keywords,
                                     copyright,
                                     orientation,
                                     x_resolution,
                                     y_resolution,
                                     resolution_unit,
                                     y_cb_cr_positioning,
                                     components_configuration,
                                     compressed_bits_per_pixel,
                                     color_space,
                                     compression,
                                     exif_version,
                                     shutter_speed,
                                     iso_speed_ratings,
                                     exposure_time,
                                     exposure_mode,
                                     exposure_bias_value,
                                     f_number,
                                     max_aperture_value,
                                     metering_mode,
                                     light_source,
                                     brightness,
                                     white_balance,
                                     focal_length,
                                     focal_length35,
                                     flash,
                                     flash_value,
                                     flash_pix_version,
                                     scene_capture_type,
                                     lens_make,
                                     lens_model,
                                     lens_specification,
                                     date_time_original,
                                     subsec_time_original,
                                     date_time_digitized,
                                     subsec_time_digitized,
                                     created_by)
        values (#{descriptionId},
                #{make}, #{model},
                #{software},
                #{documentarySoftware},
                #{artist},
                #{title},
                #{keywords},
                #{copyright},
                #{orientation},
                #{xResolution},
                #{yResolution},
                #{resolutionUnit},
                #{yCbCrPositioning},
                #{componentsConfiguration},
                #{compressedBitsPerPixel},
                #{colorSpace},
                #{compression},
                #{exifVersion},
                #{shutterSpeed},
                #{isoSpeedRatings},
                #{exposureTime},
                #{exposureMode},
                #{exposureBiasValue},
                #{fNumber},
                #{maxApertureValue},
                #{meteringMode},
                #{lightSource},
                #{brightness},
                #{whiteBalance},
                #{focalLength},
                #{focalLength35},
                #{flash},
                #{flashValue},
                #{flashPixVersion},
                #{sceneCaptureType},
                #{lensMake},
                #{lensModel},
                #{lensSpecification},
                #{dateTimeOriginal},
                #{subsecTimeOriginal},
                #{dateTimeDigitized},
                #{subsecTimeDigitized},
                #{createdBy})
    </insert>

    <!-- 更新数据 -->
    <update id="update" parameterType="com.moloom.img.api.entity.MetadataEntity">
        UPDATE metadata
        <set>
            <if test="descriptionId != null">
                description_id = #{descriptionId},
            </if>
            <if test="make != null and make.trim() != ''">
                make = #{make},
            </if>
            <if test="model != null and model.trim() != ''">
                model = #{model},
            </if>
            <if test="software != null and software.trim() != ''">
                software = #{software},
            </if>
            <if test="documentarySoftware != null and documentarySoftware.trim() != ''">
                documentary_software = #{documentarySoftware},
            </if>
            <if test="artist != null and artist.trim() != ''">
                artist = #{artist},
            </if>
            <if test="title != null and title.trim() != ''">
                title = #{title},
            </if>
            <if test="keywords != null and keywords.trim() != ''">
                keywords = #{keywords},
            </if>
            <if test="copyright != null and copyright.trim() != ''">
                copyright = #{copyright},
            </if>
            <if test="orientation != null and orientation.trim() != ''">
                orientation = #{orientation},
            </if>
            <if test="xResolution != null">
                x_resolution = #{xResolution},
            </if>
            <if test="yResolution != null">
                y_resolution = #{yResolution},
            </if>
            <if test="resolutionUnit != null and resolutionUnit.trim() != ''">
                resolution_unit = #{resolutionUnit},
            </if>
            <if test="yCbCrPositioning != null and yCbCrPositioning.trim() != ''">
                y_cb_cr_positioning = #{yCbCrPositioning},
            </if>
            <if test="componentsConfiguration != null and componentsConfiguration.trim() != ''">
                components_configuration = #{componentsConfiguration},
            </if>
            <if test="compressedBitsPerPixel != null and compressedBitsPerPixel.trim() != ''">
                compressed_bits_per_pixel = #{compressedBitsPerPixel},
            </if>
            <if test="colorSpace != null and colorSpace.trim() != ''">
                color_space = #{colorSpace},
            </if>
            <if test="compression != null and compression.trim() != ''">
                compression = #{compression},
            </if>
            <if test="exifVersion != null and exifVersion.trim() != ''">
                exif_version = #{exifVersion},
            </if>
            <if test="shutterSpeed != null and shutterSpeed.trim() != ''">
                shutter_speed = #{shutterSpeed},
            </if>
            <if test="isoSpeedRatings != null">
                iso_speed_ratings = #{isoSpeedRatings},
            </if>
            <if test="exposureTime != null and exposureTime.trim() != ''">
                exposure_time = #{exposureTime},
            </if>
            <if test="exposureMode != null and exposureMode.trim() != ''">
                exposure_mode = #{exposureMode},
            </if>
            <if test="exposureBiasValue != null and exposureBiasValue.trim() != ''">
                exposure_bias_value = #{exposureBiasValue},
            </if>
            <if test="fNumber != null">
                f_number = #{fNumber},
            </if>
            <if test="maxApertureValue != null and maxApertureValue.trim() != ''">
                max_aperture_value = #{maxApertureValue},
            </if>
            <if test="meteringMode != null and meteringMode.trim() != ''">
                metering_mode = #{meteringMode},
            </if>
            <if test="lightSource != null and lightSource.trim() != ''">
                light_source = #{lightSource},
            </if>
            <if test="brightness != null">
                brightness = #{brightness},
            </if>
            <if test="whiteBalance != null and whiteBalance.trim() != ''">
                white_balance = #{whiteBalance},
            </if>
            <if test="focalLength != null and focalLength.trim() != ''">
                focal_length = #{focalLength},
            </if>
            <if test="focalLength35 != null and focalLength35.trim() != ''">
                focal_length35 = #{focalLength35},
            </if>
            <if test="flash != null and flash.trim() != ''">
                flash = #{flash},
            </if>
            <if test="flashValue != null">
                flash_value = #{flashValue},
            </if>
            <if test="flashPixVersion != null and flashPixVersion.trim() != ''">
                flash_pix_version = #{flashPixVersion},
            </if>
            <if test="sceneCaptureType != null and sceneCaptureType.trim() != ''">
                scene_capture_type = #{sceneCaptureType},
            </if>
            <if test="lensMake != null and lensMake.trim() != ''">
                lens_make = #{lensMake},
            </if>
            <if test="lensModel != null and lensModel.trim() != ''">
                lens_model = #{lensModel},
            </if>
            <if test="lensSpecification != null and lensSpecification.trim() != ''">
                lens_specification = #{lensSpecification},
            </if>
            <if test="dateTimeOriginal != null">
                date_time_original = #{dateTimeOriginal},
            </if>
            <if test="subsecTimeOriginal != null">
                subsec_time_original = #{subsecTimeOriginal},
            </if>
            <if test="dateTimeDigitized != null">
                date_time_digitized = #{dateTimeDigitized},
            </if>
            <if test="subsecTimeDigitized != null">
                subsec_time_digitized = #{subsecTimeDigitized},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy}
            </if>
        </set>
        WHERE metadata_id = #{metadataId}

    </update>

</mapper>
