<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moloom.img.api.dao.TokensDao">

    <insert id="insert" useGeneratedKeys="true" keyProperty="tokenId"
            parameterType="com.moloom.img.api.entity.TokensEntity">
        INSERT INTO tokens (token,
                         status,
                         token_id)
        VALUES (#{token},
                #{status},
                #{userId})
    </insert>

    <update id="update" parameterType="com.moloom.img.api.entity.TokensEntity">
        UPDATE tokens
        <set>
            <if test="token != null and token != ''">
                token = #{token},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="userId != null">
                token_id = #{userId},
            </if>
        </set>
        WHERE token_id = #{tokenId}
    </update>

</mapper>