<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moloom.img.api.dao.UsersDao">

    <insert id="insertUser" parameterType="com.moloom.img.api.entity.UsersEntity">
        insert into users(username,
                          password,
                          email)
        values (#{username},
                #{password},
                #{email})
    </insert>

    <update id="updateUser" parameterType="com.moloom.img.api.entity.UsersEntity">
        update users set
        <if test="username !=null and username !=''">
            username = #{username},
        </if>
        <if test="password !=null and password !=''">
            password = #{password},
        </if>
        <if test="email !=null and email !=''">
            email = #{email},
        </if>
        <if test="email_active !=null">
            email_active = #{emailActive},
        </if>
        <if test="status !=null">
            status = #{status},
        </if>
        <if test="latest_logged_time !=null">
            latest_logged_time = #{latestLoggedTime},
        </if>
        where user_id=#{userId}
    </update>


    <!--<select id="searchUserSolveProblemInfoGroupByDifficulty" parameterType="java.lang.Integer"
            resultType="java.util.HashMap">
        select difficulty, count(*) as count
        from problem
        where id in (select problem_id from submission where user_id = #{user_id} and status = 1 group by problem_id)
        group by difficulty
    </select>

    <select id="searchProblemCountGroupByDifficulty" resultType="java.util.HashMap">
        select difficulty, count(*) as count
        from problem
        group by difficulty
    </select>-->

</mapper>